<html>
   <head>Browser filter FAQ:</head>
   <body>
    
       <p>Filter how to:</p>
       <ul>
           <li><p>List of columns has been populated after a first fetch. It contains by all fetched columns.</p></li>
           <li><p>Filter are able to produce a "equals", "contains", "startWith", "like" and "not empty" operations</p></li>
           <li><p>All filters clauses, that you choose, will be united by AND operator</p></li>
           <li><p>In case of chosen column have JSON or Map format, i.e. {a: {b: 123, c: "example"}} it is possible to use notation "a.b equals 123". This notation possible in a  "equals", "contains", "startWith", "like" operations. It also works for a nested data and arrays i.e. {a: [{b: 123, c: "example"},{b:100, c: "example2"}]} => "a.b equals 123" also will choose this record.</p></li>
           <li><p>Filter choose only that records witch KM has been read for given timeout. Offsets of these records indicated in a offset range table.
               If in this scope there is no desired records, just press button ">" to search in a records with higher offsets.
               </p>
           </li>
       </ul>
    
   </body>    
</html>